.jumbo {
  height: 100vh;
  background: url("../img/bg4.png") no-repeat center fixed;
  background-size: cover;
}

.centertitle {
	color: #fff;
	text-align: center;
	font-size: 100px;
    text-decoration: none;
    font-family: 'Creepster', cursive;
}

.subtext {
	color: #fff;
	text-align: center;
	font-size: 40px;
}

#container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.btn {
    color: #fff;
    background-color: #ab2328;
    border-color: #ab2328;
}


.btn:hover,
.btn:active,
.btn:focus {
    color: #ab2328 !important;
    background-color: #fff;
    border-color: #fff;
}


.btn-git {
    color: #fff;
    background-color: #999;
    border-color: #999;
    font-size: 25px !important;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
      touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-git:hover,
.btn-git:active,
.btn-git:focus {
    color: #fff;
    background-color: #bebebe;
    border-color: #bebebe;
}

.memberName {
    text-align: center;

}

.subInfo {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
}

.footerText {
    text-align: center;
}

.teamCircle {
    text-align: center;
}








