body {
  height: 100vh;
  background: url("../img/bg4.png") no-repeat center fixed;
  background-size: cover;
}

.centertitle {
	color: #fff;
	text-align: center;
	font-size: 100px;
  text-decoration: none;
  font-family: 'Creepster', cursive;
}

.subtext {
	color: #fff;
	text-align: center;
	font-size: 40px;
}

#container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.btn {
  color: #fff;
    background-color: #ab2328;
    border-color: #ab2328;
    font-size: 25px !important;
}


.btn:hover,
.btn:active,
.btn:focus {
    color: #ffcb05;
    background-color: #007055;
    border-color: #007055;
}