@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?seyvit');
    src:    url('fonts/icomoon.eot?seyvit#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?seyvit') format('truetype'),
        url('fonts/icomoon.woff?seyvit') format('woff'),
        url('fonts/icomoon.svg?seyvit#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-knife2 .path1:before {
    content: "\e900";
    color: rgb(0, 0, 0);
}
.icon-knife2 .path2:before {
    content: "\e901";
    margin-left: -1.0498046875em;
    color: rgb(255, 255, 255);
}
.icon-knife2 .path3:before {
    content: "\e902";
    margin-left: -1.0498046875em;
    color: rgb(255, 255, 255);
}
.icon-knife2 .path4:before {
    content: "\e903";
    margin-left: -1.0498046875em;
    color: rgb(255, 255, 255);
}
.icon-knife2 .path5:before {
    content: "\e904";
    margin-left: -1.0498046875em;
    color: rgb(255, 255, 255);
}
.icon-knife2 .path6:before {
    content: "\e905";
    margin-left: -1.0498046875em;
    color: rgb(0, 0, 0);
}
.icon-stabbyjustlogo_circle:before {
    content: "\e906";
}
.icon-stabbyjustlogo_icon:before {
    content: "\e907";
}

.glyph {
    font-size: 16px;
    width: 15em;
    padding-bottom: 1em;
    margin-right: 4em;
    margin-bottom: 1em;
    float: left;
    overflow: hidden;
}